:root {
    --c-primary-h: 243;
    --c-primary-s: 100%;
    --c-primary-l: 66%;
    --c-secondary-h: 173;
    --c-secondary-s: 98%;
    --c-secondary-l: 39%;
    --c-tertiary-h: 41;
    --c-tertiary-s: 97%;
    --c-tertiary-l: 55%;
    --c-forth-h: 344;
    --c-forth-s: 98%;
    --c-forth-l: 65%;
    --c-grey-h: 230;
    --c-grey-s: 11%;
    --c-grey-l: 55%;
    --c-white: #FFFFFF;
    --c-black: #000000;
    --c-black-light: #212431;
    --c-red: #F2545B;
    --c-grey-periwinkle: #C3CAE5;
    --c-grey-periwinkle-light: #F1F3FF;
    --c-grey-main: #EBEDF6;
    --c-grey-main-secondary: #EDF4FC;
    --c-grey-main-dark: #D2D9F6;
    --c-error: var(--c-red);
    --c-success: var(--c-primary);
    --c-grey-icon: var(--c-grey-periwinkle);
    --c-grey-frame: var(--c-grey-periwinkle);
    --c-grey-inactive: var(--c-grey-lighter);
    --c-grey-border: var(--c-grey-light);
    --c-grey-txt-light: var(--c-grey-light);
    --c-grey-txt: var(--c-grey);
    --c-grey-txt-dark: var(--c-grey-dark);
    --c-black-txt: var(--c-black);
    --c-black-txt-light: var(--c-black-light);
    --c-txt-hover: var(--c-primary-dark);
    --c-txt-hover-secondary: var(--c-secondary-dark);
    --c-bg-main-light: var(--c-grey-periwinkle-light);
    --c-bg-main: var(--c-grey-main);
    --c-bg-main-secondary: var(--c-grey-main);
    --c-bg-main-dark: var(--c-grey-periwinkle);
    --c-compl-light: var(--c-grey-periwinkle-light);
    --c-compl-dark: var(--c-primary-darker);
    --c-grey-shadow-light: hsla(var(--c-grey-h), var(--c-grey-s), var(--c-grey-l), 0.1);
    --c-grey-shadow: hsla(var(--c-grey-h), var(--c-grey-s), var(--c-grey-l), 0.2);
    --c-grey-shadow-dark: hsla(var(--c-grey-h), var(--c-grey-s), var(--c-grey-l), 0.35);
    --c-rgb-black: 0, 0, 0;
    --c-overlay: rgba(0, 0, 0, 0.4);
    --c-opacity: 100;
    --c-primary: hsla(var(--c-primary-h), var(--c-primary-s), var(--c-primary-l), var(--c-opacity));
    --c-primary-light: hsla(var(--c-primary-h), var(--c-primary-s), calc(var(--c-primary-l) + 15%), var(--c-opacity));
    --c-primary-lighter: hsla(var(--c-primary-h), var(--c-primary-s), calc(var(--c-primary-l) + 30%), var(--c-opacity));
    --c-primary-dark: hsla(var(--c-primary-h), var(--c-primary-s), calc(var(--c-primary-l) - 15%), var(--c-opacity));
    --c-primary-darker: hsla(var(--c-primary-h), var(--c-primary-s), calc(var(--c-primary-l) - 30%), var(--c-opacity));
    --c-secondary: hsla(var(--c-secondary-h), var(--c-secondary-s), var(--c-secondary-l), var(--c-opacity));
    --c-secondary-light: hsla(var(--c-secondary-h), var(--c-secondary-s), calc(var(--c-secondary-l) + 15%), var(--c-opacity));
    --c-secondary-lighter: hsla(var(--c-secondary-h), var(--c-secondary-s), calc(var(--c-secondary-l) + 30%), var(--c-opacity));
    --c-secondary-dark: hsla(var(--c-secondary-h), var(--c-secondary-s), calc(var(--c-secondary-l) - 15%), var(--c-opacity));
    --c-secondary-darker: hsla(var(--c-secondary-h), var(--c-secondary-s), calc(var(--c-secondary-l) - 30%), var(--c-opacity));
    --c-tertiary: hsla(var(--c-tertiary-h), var(--c-tertiary-s), var(--c-tertiary-l), var(--c-opacity));
    --c-tertiary-light: hsla(var(--c-tertiary-h), var(--c-tertiary-s), calc(var(--c-tertiary-l) + 15%), var(--c-opacity));
    --c-tertiary-lighter: hsla(var(--c-tertiary-h), var(--c-tertiary-s), calc(var(--c-tertiary-l) + 30%), var(--c-opacity));
    --c-tertiary-dark: hsla(var(--c-tertiary-h), var(--c-tertiary-s), calc(var(--c-tertiary-l) - 15%), var(--c-opacity));
    --c-tertiary-darker: hsla(var(--c-tertiary-h), var(--c-tertiary-s), calc(var(--c-tertiary-l) - 30%), var(--c-opacity));
    --c-forth: hsla(var(--c-forth-h), var(--c-forth-s), var(--c-forth-l), var(--c-opacity));
    --c-forth-light: hsla(var(--c-forth-h), var(--c-forth-s), calc(var(--c-forth-l) + 15%), var(--c-opacity));
    --c-forth-lighter: hsla(var(--c-forth-h), var(--c-forth-s), calc(var(--c-forth-l) + 30%), var(--c-opacity));
    --c-forth-dark: hsla(var(--c-forth-h), var(--c-forth-s), calc(var(--c-forth-l) - 15%), var(--c-opacity));
    --c-forth-darker: hsla(var(--c-forth-h), var(--c-forth-s), calc(var(--c-forth-l) - 30%), var(--c-opacity));
    --c-grey: hsla(var(--c-grey-h), var(--c-grey-s), var(--c-grey-l), var(--c-opacity));
    --c-grey-light: hsla(var(--c-grey-h), var(--c-grey-s), calc(var(--c-grey-l) + 15%), var(--c-opacity));
    --c-grey-lighter: hsla(var(--c-grey-h), var(--c-grey-s), calc(var(--c-grey-l) + 30%), var(--c-opacity));
    --c-grey-dark: hsla(var(--c-grey-h), var(--c-grey-s), calc(var(--c-grey-l) - 15%), var(--c-opacity));
    --c-grey-darker: hsla(var(--c-grey-h), var(--c-grey-s), calc(var(--c-grey-l) - 30%), var(--c-opacity));
  }